@charset "UTF-8";

@font-face{
    font-family: 'rajd';
    src: url('Fonts/Rajdhani-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    /* Color */
    --Amarelo-cor-logo:  #FDBA12;
    --Cinza-cor-fundo:  #22252A;
    --Cinza-cor-auxiliar:  #2D3035;
    --preto-auxiliar:  #000000;
    --branco:  #FFFFFF;

    
}

* {
    margin: 0;
    padding: 0;

}

body{
    background-color: var(--Cinza-cor-fundo);
    font-family: 'rajd';
    background-image: url(Images_gifs/az-subtle.png);
}

main{
    margin: auto;
    height: 80vh;
    width: 90vw;
    background-color: black;
    display: flex;
    margin-top: 30px;

    position: relative;
    border-radius: 20px;

}

a{  

    position: absolute;
    top: 42%;
    left: 41%;
    transform: translate(-50% -50%);

    font-size: 3.5em;

    text-decoration: none;
    color: white;
    width: 130px;
    height: 40px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;

    border: 3px solid white;
    border-radius: 20px;
}

a:hover{
    background-color: white;
    color: black;
}