.house_of_the_dragon_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/houseOfTHeDragonVerticPoster.jpg");
    
}

.uncharted_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/uncharted_vertic_poster.jpg");
}

.tomb_raider_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/poster_tomb_raider.jpg");
}

.esquadrao6_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/esquadrao6_vertic_poster.jpg");
}

.black_adam_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/black_adam_vertic_poster.jpg");
}

.john_wick_poster{
    background-image: url("../CSS/Images_gifs/posterVertic/john_wick_3_poster.jpg");
}

.top_gun_poster{
    background-image: url("Images_gifs/posterVertic/topGunverticposter.jpg");
}

.efeito_fallout_poster{
    background-image: url("Images_gifs/posterVertic/efeitoFalloutVerticPoster.jpg");
}

.desolacao_de_smaug{
    background-image: url("Images_gifs/posterVertic/hobbitadesolacaoDeSmaugVerticPoster.jpg");
}

.salazar_poster{
    background-image: url("Images_gifs/posterVertic/aVingancadeSalazarVertcPoster.jpg");
}

.warcraft_poster{
    background-image: url("Images_gifs/posterVertic/wacraftVerticPoster.jpg");
}

.tintin_poster{
    background-image: url("Images_gifs/posterVertic/asAventuradeTinTInVerticposter.jpg");
}

.bem_vindo_a_selva_poster{
    background-image: url("Images_gifs/posterVertic/bem_vindo_a_selvaVerticPoster.jpg");
}

.perdido_em_marte_poster{
    background-image: url("Images_gifs/posterVertic/perdido_em_marteVerticPoster.jpg");
}

.interestelar_poster{
    background-image: url("Images_gifs/posterVertic/interestelarVertic_Poster.jpg");
}

.matrix_poster{
    background-image: url("Images_gifs/posterVertic/matrixRessurectionsVertic_poster.jpg");
}

.no_limite_do_amanha_poster{
    background-image: url("Images_gifs/posterVertic/vivaMorraRepitaVerticPoster.jpg");
}

.jurassic_world_poster{
    background-image: url("Images_gifs/posterVertic/reinoAmeacadoVerticposter.jpg");
}